a.tab:hover {
  opacity: 1
}

a.tab {
  background-color: #95A5C3 !important;
  opacity: 0.8;
}

a.tab.active {
  opacity: 1;
}

/* Stack column if width of screen is less than 600px */
@media only screen and (max-width: 600px) {
  .custom-nav .MuiTabs-flexContainer {
    flex-direction: column !important;
  }
}
