:root {
  --gold: #FFB703;
  --color1: #CBD9E8; /* rgb(203, 217, 232) */
  --color2: #95A5C3; /* rgb(149, 165, 195) */
  --color3: #91677D; /* rgb(145, 103, 125) */
  --color4: #FFD9B5; /* rgb(255, 217, 181) */
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 481px) {

  
  .centered {
    width: 50%;
  }

  .form {
    max-width: 700px;
    min-width: 400px;
    width: 40%;
  }

  .qrcode {
    height: 400px;
    width: 400px;
  }

  .pdf {
    height: 700px;
    width: 500px;
  }

  .makeStyles-root-2 {
    max-width: none !important;
  }



  .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hidden {
    display: none;
  }
  
  #loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255, 255, 255, 0.932);
    z-index:9999;
    display:none;
  }
  
  @-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
  }
  
  @keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
  }
  
  #loader::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
  }

  .input {
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 50%;
    font-family: "Raleway";
    min-height: 50px;
  }

  .button {
    font-weight: bold;
    background: #fffeee;
    color: rgb(0, 0, 0);
    float: right;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    font-family: "Raleway";
  }

  .button:hover {
    font-weight: bold;
    background: #ffc107;
    color: #fff;
    float: right;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
  }

  .log-out {
    position:absolute;
    right:5%;
    top: 8%;
  }

  .MuiTabs-flexContainer {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }

  .MuiTab-textColorPrimary {
    color: white !important;
  }

  .makeStyles-root-12 {
    min-width: none !important;
  }

  .menu-description {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 2%;
    text-align: center;
  }

  .cp {
    zoom: 2;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 25%;
  }

  .menu-render {
    /* position: absolute; */
    /* height: 100% !important; */
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    width:100%; 
    height:100%; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden; 
    z-index:999999;
  }

  .render-iframe-menu {
    height: 60rem;
    border: 3px solid black;
  }

  .MuiTab-wrapper {
    font-family: "Optima";
  }

  .home-description {
    max-width: 70%;
  }

  .qr-card {
    max-width: 500px;
    width: 50%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin-bottom: 5%;
    padding-top: 3%;
  }
  
  .full-window-div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .mobile-table {
    padding-bottom: 3rem;
  }

  .oauth {
    padding-top: 5%;
  }

  .home-span-list {
    font-weight: bold;
    color: #ffc107;
  }

}

    /* Mobile devices ----------------------------------------------*/
@media only screen 
and (min-width : 280px)
and (max-device-width : 815px) {
  html {
    scroll-behavior: smooth;
    cursor: grab;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    /* height: 1rem !important; */
  }
  
  .MuiInput-underline:after {
    border-bottom: 2px solid #e5f65f !important;
  }

  .centered {
    width: 90%;
  }

  .form {
    max-width: 500px;
  }

  .MuiDialogActions-root {
    width: 15rem !important;
  }

  .MuiDialogContent-root {
    width: 15rem !important;
  }

  .qrcode {
    height: 400px;
    width: 100%;
  }

  .pdf {
    height: 600px;
    width: 100%;
  }

  .makeStyles-root-2 {
    max-width: none !important;
  }

  .hidden {
    display: none;
  }
  
  #loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255, 255, 255, 0.932);
    z-index:9999;
    display:none;
  }
  
  @-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
  }
  
  @keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
  }
  
  #loader::after {
    content:'';
    display:block;
    position:absolute;
    left:50%;top:50%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
  }


  .input {
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 95%;
    font-family: "Raleway";
    min-height: 50px;
  }

  .button {
    font-weight: bold;
    background: #fffeee;
    color: rgb(0, 0, 0);
    float: right;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    font-family: "Raleway";
  }

  .button:hover {
    font-weight: bold;
    background: #ffc107;
    color: #fff;
    float: right;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
  }

  .log-out {
    margin-top: 15%;
  }

  .MuiTabs-flexContainer {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }

  .MuiTab-textColorPrimary {
    color: white !important;
  }

  .makeStyles-root-12 {
    max-width: none !important;
  }

  .menu-description {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 2%;
    text-align: center;
  }

  .cp {
    zoom: 2;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 100%;
  }

  .menu-render {
    /* position: absolute; */
    /* height: 100% !important; */
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    width:100%; 
    height:100%; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden; 
    z-index:999999;
  }

  .render-iframe-menu {
    height:25rem;
  }

  .MuiTab-wrapper {
    font-family: "Optima";
  }

  .mobile-table {
    margin-bottom: 2rem;
    width: 100%;
  }

  .qr-card {
    max-width: 500px;
    width: 90%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin-bottom: 10%;
  }

  .qr-mobile {
    width: 100%;
  }

  .full-window-div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn-outline-warning {
    width: 80%;
    max-width: 25rem;
  }

  .oauth {
    padding-top: 10%;
  }

  .home-span-list {
    font-weight: bold;
    color: #ffc107;
  }

}

.content {
  color: #fff;
  font-weight: 600;
  padding: 60px;
}

.content strong {
  color: var(--color4);
  font-weight: 700;
}

.content > h2 {
  color: var(--color4);
  font-weight: 700;
  margin-top: calc(39px + 15 * ((100vw - 360px)/ 1240));
  margin-bottom: calc(13px + 5 * ((100vw - 360px)/ 1240));
}

.content > ul {
  margin-top: calc(16px + 6 * ((100vw - 360px)/ 1240));
  margin-bottom: calc(26px + 10 * ((100vw - 360px)/ 1240));
  list-style: none;
  padding-left: 0px;
}

.content > h5 {
  margin-top: calc(16px + 6 * ((100vw - 360px)/ 1240));
  margin-bottom: calc(26px + 10 * ((100vw - 360px)/ 1240));
}

.h-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.top {
  background-color: var(--color1);
}

.mid {
  background-color: var(--color2);
}

.bottom {
  background-color: var(--color3);
}

.align-left {
  text-align: left;
}

.home-page {
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Optima";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  overscroll-behavior-y: none;
  height: auto;
  background-color: #FFF;
}

.error-page {
  text-align: center;
}

.error-page-text {
  color: white;
  font-size: 36px;
  margin-top: 20%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-link {
  color: white;
}

.welcome-text {
  font-size: 34px;
  color:white;
  padding-left: 5%;
  padding-right: 5%;
}

.form-signup {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
  min-width: 30rem;
}

.text {
  color: white;
  font-size: 24px;
  padding-left: 5%;
  padding-right: 5%;
}

.form {
  background: #FFF;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  padding: 20px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  background: var(--color3);
  opacity: 0.9;
}

.text-title {
  color: var(--color4);
  font-weight: 700;
}

.move-ul {
  transform: translateX(25px) translateY(42px);
}

#contact > input {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
  font-weight: 700;
  font-family: 'Optima';
  margin-top: 20px;
}

#contact > textarea {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
  font-weight: 700;
  font-family: 'Optima';
  margin-bottom: 15px;
}

#contact > textarea::placeholder {
  color: #FFF;
  opacity: 50%
}

#contact > input::placeholder {
  color: #FFF;
  opacity: 50%;
}

#contact-button {
  background-color: var(--color4);
  color: var(--color3);
}

#contact {
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* remove default styles for MUI */

.MuiTab-root.icon {
  min-width: 48px !important;
  max-width: 48px !important;
  padding: 5px 15px;
  box-sizing: content-box;
}

@media only screen and (min-width: 600px) {
  .MuiTab-root.icon {
    min-width: 48px !important;
    max-width: 48px !important;
  }
}

button[type="submit"] {
  background-color: var(--color4)
}

button[type="submit"]:hover {
  background-color: var(--color3)
}

.form .MuiInput-underline::after {
  border-bottom: 2px solid var(--color3)
}

.form .MuiFormLabel-root.Mui-focused {
  color: var(--color3)
}